#logo{
    width:80px;
    float:left;
}
#header{
    background-color:green;
    height: 80px;
}
#right_login {
    float:right;
    margin-top:30px;
    margin-right: 20px;
    
}
#right_login li{
    display: inline-block;
}








#login_form{
    box-shadow: 0px 1px 2px;
}