
*{
    margin:0px;
    padding:0px;
    
}


#donate{
    box-shadow: 0px 0px 2px;
    padding:20px;
    background: #FFFFFF;
}
#logo{
    width:100px;
}

#nav{
    background-color:white;
}
#nav_right{
    padding-top:12px;
}

#login_text a{
    color:black;
}
#content_div{
    box-shadow: 0px 0px 1px;
}

